.payment {
	
	background-color:#fff;
	padding:26px 30px 30px
}

.paybox {
	border-bottom:1px solid #ddd;
	padding:0 2px 1px
}
.paybox .p-wrap {
	position:relative;
	_zoom:1;
	padding-top:10px;
	padding-bottom:10px
}
.paybox .p-key {
	float:left;
	padding-top:5px;
	padding-left:18px
}
.paybox .p-key .p-k-check {
	display:inline-block;
	line-height:22px;
	cursor:pointer
}
.paybox .p-key .p-k-check .ui-checkbox-L {
	vertical-align:top
}
.paybox .p-key .p-k-check strong {
	color:#333;
	vertical-align:top;
	display:inline-block;
	margin-left:10px;
	font-size:18px;
	font-family:"Microsoft Yahei";
	font-weight:400
}
.paybox .p-key .p-k-check.ui-check-disable {
	cursor:default
}
.paybox .p-key .p-k-check:hover strong {
	color:#666
}
.paybox .p-key .p-k-check-baitiao strong {
	height:23px;
	padding-right:50px;
	background:url(i/elements.png) 35px -248px no-repeat
}
.paybox .p-value {
	margin-left:178px;
	margin-right:5px;
	_position:relative;
	_zoom:1
}
.paybox .p-value .p-v-line {
	line-height:32px
}
.paybox .p-div {
	margin:0 3px;
	color:#ddd
}
.paybox .p-amount {
	display:none;
	position:absolute;
	width:140px;
	right:18px;
	top:14px;
	text-align:right;
	line-height:26px
}
.paybox .p-amount em {
	vertical-align:bottom
}
.paybox .p-amount strong {
	font-size:18px;
	vertical-align:bottom;
	color:#ff5d5b;
	margin:0 3px
}
.paybox .p-border {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	left:-2px;
	top:-2px;
	border:2px solid #b0c2e1
}
.paybox.paybox-hover {
	background-color:#fcfcfc
}
.paybox.paybox-selected {
	margin-top:-2px;
	_margin-top:-1px;
	border:0;
	border:2px solid #b0c2e1;
	padding:0;
	border-radius:2px;
	background-color:#fff
}
.paybox.paybox-selected .p-amount {
	display:block
}
.paybox-baitiao .p-amount {
	width:180px
}
.bank-area {
	padding:15px 58px 0;
	*zoom:1;
	overflow:hidden
}
.bank-wrap {
	*zoom:1
}
.bank-wrap .bw-tab-quick a {
	padding-left:65px
}
.bank-wrap .bw-tab-quick a i {
	position:absolute;
	top:12px;
	left:24px;
	width:35px;
	height:14px;
	background:url(i/elements.png) -30px -143px no-repeat
}
.bank-wrap .bw-tab-wangyin a {
	padding:0 45px
}
.bank-wrap .bw-tab-content {
	padding:20px 10px 0
}
.bank-wrap .bw-tab-content .payment-list {
	width:790px
}
.bank-wrap .bw-tab-content .pl-wrap {
	width:800px
}
.bank-wrap .bw-quick {
	padding-top:4px
}
.bank-wrap .bw-quick .bank-selected {
	margin-top:-4px;
	_margin-top:0;
	width:auto;
	padding-right:15px
}
.bank-wrap .bw-quick .bw-q-title {
	height:26px;
	margin-bottom:25px;
	background:url(i/pay-quick.png) 10px 0 no-repeat
}
.bank-wrap .bw-quick .bw-q-return {
	_vertical-align:middle;
	_margin-top:12px
}
.bank-wrap .bw-quick .bw-q-return:hover .ui-icon-return {
	background-position:-3px -222px
}
.bank-wrap .bw-quick .bw-q-switch {
	_padding-top:8px
}
.bank-wrap .bw-quick .bw-q-switch span {
	cursor:pointer
}
.bank-wrap .bw-quick .bw-q-switch span.ui-check-disable {
	cursor:default
}
.bank-wrap .bw-quick .bw-q-input-name {
	width:110px
}
.bank-wrap .bw-quick .bw-q-input-auth {
	width:80px
}
.bank-wrap .bw-quick .bw-q-input-phone {
	width:110px
}
.bank-wrap .bw-quick .bw-q-input-msg {
	width:80px
}
.bank-wrap .bw-quick.type-credit {
	background:url(i/pay-credit-bg.png) center right no-repeat
}
.bank-wrap .bw-quick.type-credit-month {
	background:url(i/pay-credit-bg-month.gif) center right no-repeat
}
.bank-wrap .bw-quick.type-credit-year {
	background:url(i/pay-credit-bg-year.gif) center right no-repeat
}
.bank-wrap .bw-quick.type-credit-code {
	background:url(i/pay-credit-bg-code.gif) center right no-repeat
}
.bank-wrap .bw-ebank {
	padding:4px 0 40px
}
.bank-wrap .bw-ebank .bank-selected {
	margin-top:-4px;
	_margin-top:0;
	width:auto;
	padding-right:15px
}
.bank-wrap .bw-ebank .bw-ebank-repeat {
	_margin-top:3px
}
.bank-wrap .bw-ebank .bw-q-switch,.bank-wrap .bw-ebank .bw-return {
	_vertical-align:middle;
	_margin-top:12px
}
.bank-wrap .bw-ebank .bw-q-switch span {
	cursor:pointer
}
.bank-wrap .bw-ebank .bw-q-switch span.ui-check-disable {
	cursor:default
}
.bank-wrap .bw-return:hover .ui-icon-return {
	background-position:-3px -222px
}
.bank-wrap .bw-more-unionpay {
	display:none;
	margin-top:-10px;
	*margin-top:0;
	line-height:18px;
	padding-bottom:15px
}
.ui-tab .ui-tab-items {
	border-bottom:1px solid #c6c6c6
}
.ui-tab .ui-tab-item {
	float:left;
	margin-right:10px;
	position:relative;
	margin-bottom:-1px;
	_zoom:1
}
.ui-tab .ui-tab-item a {
	border-radius:3px 3px 0 0;
	background:#f7f7f7;
	line-height:34px;
	height:34px;
	padding:0 20px;
	border:1px solid #f7f7f7;
	border-bottom:0;
	color:#4D4D4D;
	display:inline-block;
	font-size:14px
}
.ui-tab .ui-tab-item a:hover {
	text-decoration:none;
	background:#d8f1ff;
	border-color:#d8f1ff
}
.ui-tab .ui-tab-item.curr a {
	background:#fff;
	border-color:#c6c6c6;
	height:35px;
	font-weight:700
}

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix {
	display:block;
	*height:1%;
	*min-height:1%
}
.bank-logo.tmp{
	background-image:url(../images/bank-logo.png);
	display:block;
	width:125px;
	height:28px;
	overflow:hidden;
	text-indent:-9999px;
	margin: 0px 0px
}
.bank-selected .bank-logo {
	float:left;
	margin-left:15px;
	margin-right:20px;
	margin-top:5px
}
.payment-list .pl-wrap {
	overflow:hidden;
	zoom:1;
	padding-bottom:12px
}
.payment-list .pl-item {
	position:relative;
	_zoom:1;
	float:left;
	background-color:#fff;
	padding:5px 0;
	height:28px;
	width:188px;
	margin-right:10px;
	margin-bottom:10px;
	cursor:pointer;
	border:1px solid #b0c2e1;
	border-radius:2px;
	-webkit-transition:border-color .2s;
	-moz-transition:border-color .2s;
	-ms-transition:border-color .2s;
	transition:border-color .2s
}
.payment-list .pl-item .bank-logo {
	margin-left:25px
}
.payment-list .pl-item .pay-logo {
	margin-left:20px
}
.payment-list .pl-item .pl-i-info {
	position:absolute;
	visibility:hidden;
	left:-1px;
	bottom:-18px;
	width:100%;
	height:20px;
	line-height:20px;
	border:1px solid #ff5d5b;
	background-color:#ff5d5b;
	color:#fff;
	text-align:center;
	opacity:0;
	-webkit-transition:bottom .2s,opacity .2s;
	-moz-transition:bottom .2s,opacity .2s;
	-ms-transition:bottom .2s,opacity .2s;
	transition:bottom .2s,opacity .2s
}
.payment-list .pl-item .pl-i-selected {
	display:none;
	position:absolute;
	width:19px;
	height:19px;
	right:0;
	top:0;
	background:url(i/elements.png) -39px -94px no-repeat
}
.payment-list .pl-item.hover {
	border-color:#ff5d5b;
	z-index:20
}
.payment-list .pl-item.hover .pl-i-selected {
	display:block;
	background-position:-39px -195px
}
.payment-list .pl-item.hover .pl-i-info {
	visibility:visible;
	opacity:1;
	bottom:-22px
}
.payment-list .pl-item.selected {
	border-color:#ff5d5b
}
.payment-list .pl-item.selected .pl-i-selected {
	display:block;
	background-position:-39px -94px
}
.payment-list .pl-more {
	float:left;
	background-color:#d8f1ff;
	padding:5px 0;
	height:28px;
	line-height:28px;
	font-size:14px;
	width:188px;
	border:1px solid #e9f7ff;
	text-align:center;
	color:#2ea7e7;
	font-weight:700;
	cursor:pointer;
	-webkit-transition:background-color .2s,color .2s;
	-moz-transition:background-color .2s,color .2s;
	-ms-transition:background-color .2s,color .2s;
	transition:background-color .2s,color .2s
}
.payment-list .pl-more:hover {
	color:#fff;
	background-color:#ff5d5b
}
.payment-list.type-check .pl-item {
	width:70px;
	text-align:center
}
.payment-list.type-check .pl-i-text {
	line-height:28px;
	font-size:14px;
	font-weight:700
}
.payment-list.type-check .pl-item.selected .pl-i-text {
	color:#ff5d5b
}
.op-type-platform .payment-list {
	width:890px
}

#bank-bjrcb {
	background-position:0 0
}
#bank-bob {
	background-position:0 -28px
}
#bank-cbhb {
	background-position:0 -56px
}
#bank-bocd {
	background-position:0 -84px
}
#bank-fudian {
	background-position:0 -112px
}
#bank-icbc {
	background-position:0 -140px
}
#bank-ceb {
	background-position:0 -168px
}
#bank-gdb {
	background-position:0 -196px
}
#bank-hkb {
	background-position:0 -224px
}
#bank-hzb {
	background-position:0 -252px
}
#bank-hengfeng {
	background-position:0 -280px
}
#bank-hxb {
	background-position:0 -308px
}
#bank-ccb {
	background-position:0 -336px
}
#bank-jsb {
	background-position:0 -364px
}
#bank-bcom {
	background-position:0 -392px
}
#bank-jinghua {
	background-position:0 -420px
}
#bank-cmbc {
	background-position:0 -448px
}
#bank-njcb {
	background-position:0 -476px
}
#bank-nbcb {
	background-position:0 -504px
}
#bank-abc {
	background-position:0 -532px
}
#bank-pab {
	background-position:0 -560px
}
#bank-spdb {
	background-position:0 -588px
}
#bank-qdccb {
	background-position:0 -616px
}
#bank-srcb {
	background-position:0 -644px
}
#bank-shb {
	background-position:0 -672px
}
#bank-sdb {
	background-position:0 -700px
}
#bank-wzcb {
	background-position:0 -728px
}
#bank-cib {
	background-position:0 -756px
}
#bank-cmb {
	background-position:0 -784px
}
#bank-zjtl {
	background-position:0 -812px
}
#bank-boc {
	background-position:0 -840px
}
#bank-psbc {
	background-position:0 -868px
}
#bank-citic {
	background-position:0 -896px
}
#bank-cqrcb {
	background-position:0 -924px
}
#bank-cqcb {
	background-position:0 -952px
}
#bank-gzrcc {
	background-position:0 -980px
}
#bank-gzcb {
	background-position:0 -1008px
}
#bank-hsb {
	background-position:0 -1036px
}
#bank-czb {
	background-position:0 -1064px
}
#bank-bea{
    background-position:0 -1092px
}
#bank-post {
	background-position:0 -1120px
}
.pay-logo {
	background-image:url(i/pay-logo.png);
	display:block;
	width:140px;
	height:28px;
	overflow:hidden;
	text-indent:-9999px
}
#pay-chinabank {
	background-position:0 -5px
}
#pay-weixin {
	background-position:0 -42px
}
#pay-99bill {
	background-position:0 -82px
}
#pay-unionpay {
	background-position:0 -120px
}
#pay-cmpay {
	background-position:0 -158px
}
#pay-kara {
	background-position:0 -244px
}
#pay-tenpay {
	background-position:0 -473px
}
