@charset "utf-8";
/* CSS Document */
.category_left{ width:200px; float:left; margin-top:10px;border-top:1px solid #e6e6e6;}

/*收缩菜单*/
.v{width:198px;voice-family:"\"}\""; width:158px;padding-left:40px;height:35px;overflow:hidden;background:url(../images/vicon.png) no-repeat 0px 0;display:inline-block; font-style:normal;}
.v01{background-position:0 0;}
.v02{background-position:0 -35px;}
.vtitle{height:35px; width:198px;line-height:35px;border:1px solid #e6e6e6;margin-top:-1px;font-size:16px;color:#323232;font-family:'微软雅黑',sans-serif;cursor:pointer;}
.vtitle em{margin:0;}
.vconlist{ width:198px;background:#fff;clearfix:after;border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.vconlist_only{ border-bottom:1px solid #e6e6e6}
.vconlist li{ background:url(../images/allimg.gif) no-repeat -200px -508px;}
.vconlist li a{height:30px;line-height:30px;padding-left:30px;display:block;font-size:14px;color:#787878;}
.vconlist li.select a,.vconlist li a:hover{color:#f13d6d;text-decoration:none;}

.category_left_mt{ margin-top:10px;}

.category_right{width:986px; float:right; padding-top:10px;}
.category_right_1{width:984px;border:1px solid #e6e6e6;  background:#fff; font-size:14px; overflow:hidden;}
.category_right_1 ul{ padding:0 10px; border-bottom:1px solid #e6e6e6; height:34px; line-height:35px; overflow:hidden;}
.category_site{ width:680px; float:left;}
.category_site a{ padding:0 10px; font-size:14px;}
.category_right_1_tote{ width:270px; float:right; text-align:right; font-size:14px;}

.category_right_1 dl{ width:984px;border-bottom:1px solid #e6e6e6; overflow:hidden;}
.category_right_1 dl dt{ width:100px; text-align:center; line-height:50px; float:left; overflow:hidden;}
.category_right_1 dl dd{ width:880px;voice-family:"\"}\""; width:850px; padding:10px 10px 10px 20px;border-left:1px solid #e6e6e6;float:right;}
.category_right_1 dl dd a{ width:130px;voice-family:"\"}\""; width:120px; margin-right:10px; padding-left:10px; display:block; float:left; line-height:30px; font-size:14px;}
.category_right_1 dl dd a.selected{ background:#ec6a4b; color:#fff;}

.category_right_2{width:984px; height:34px;border:1px solid #e6e6e6;  background:#fff; font-size:14px; overflow:hidden; margin:10px auto;}
.category_right_2 a{ height:34px; line-height:35px; float:left; display:block; font-size:14px; border-right:1px #eee solid;}


.category_right_2_a{width:80px; text-align:center; background:#f13d6d; color:#fff;}
.category_right_2_a:hover{ color:#fff;}
.category_right_2_a_1{width:80px; text-align:center;}
.category_right_2_b{width:80px;voice-family:"\"}\""; width:60px; padding-left:20px;background:url(../images/category_gj.gif) no-repeat 0px 0px;}
.category_right_2_b_1{width:80px;voice-family:"\"}\""; width:60px; padding-left:20px; color:#fff;background:url(../images/category_gj.gif) no-repeat 0px -34px;}
.category_right_2_b_1:hover{ color:#fff;}
.category_right_2_b_2{width:80px;voice-family:"\"}\""; width:60px; padding-left:20px;color:#fff;background:url(../images/category_gj.gif) no-repeat 0px -68px;}
.category_right_2_b_2:hover{ color:#fff;}

